.container {
    display: flex;
    justify-content: space-between;
}

/* Phones (up to 767px) */
@media (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
}

/* Tablets (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
}